.mainContainerSongs {
    background: linear-gradient(to right, #7B0D1E, #9F2042);
    width: 83vw;
    min-height: 100vh;
    padding: 8% 1% 1% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.loader {
    margin: 2%;
    width: 315px;
    height: 240px;
    border-radius: 20px;
    background:
        linear-gradient(0.25turn, transparent, #FFF, transparent),
        linear-gradient(#DDD, #DDD),
        radial-gradient(38px circle at 19px 19px, #DDD 50%, transparent 51%),
        linear-gradient(#DDD, #DDD);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 315px 200px, 315px 130px, 100px 100px, 225px 30px;
    background-position: -315px 0, 0 0, 15px 140px, 65px 145px;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    to {
        background-position: 315px 0, 0 0, 15px 140px, 65px 145px;
    }
}