.UserPlaylistPage {
    background: linear-gradient(to right, #7B0D1E, #9F2042);
    min-width: 83vw;
    max-width: 83vw;
    min-height: 100vh;
    padding: 3.7vw 0vw 0vw 0vw;
    display: flex;
    flex-wrap: wrap;
}


.container-playlist-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    direction: rtl;
}


.playlist-card {
    width: 220px;
    height: 180px;
    margin: 100px 62px 50px 62px;
    padding: 18px;
    background: #ffbea4;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.506);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.8s;
}

.playlist-card:hover {
    transform: scale(1.3);
}