.songDetails {
    width: 100%;
    height: 30%;
    padding: 4%;
    background: rgb(0, 0, 0);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-wrap: wrap;
}

.songArtistName {
    background: yellow;
    height: 48%;
    width: 63%;
    margin: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.songName {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: palevioletred;
}



.songTime {
    background: khaki;
    height: 40%;
    width: 30%;
    margin: 3% 4% 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}