.sideBar {
    background-image: linear-gradient(180deg, #7B0D1E, #9F2042);
    width: 17vw;
    height: 100vh;
    padding: 11vh;
    margin-left: 78vw;
    border-left: 0.5px solid black;
    box-shadow: 180px 0px 0px black;
    overflow: scroll;
    position: fixed;
    right: 0px;
    z-index: 0;
}

.create-new-playlist {
    height: 3.5rem;
    width: 15vw;
    margin: 0vw 1vw 0vw 78vw;
    background: #000000;
    color: white;
    font-size: 1.4rem;
    border-top-right-radius: 190px;
    border-bottom-left-radius: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0px;
    z-index: 100;
}

.create-new-playlist:hover {
    cursor: pointer;
    background: #0000009e;
    color: white;
}

.list-playlist {
    min-height: 2rem;
    width: 17vw;
    position: absolute;
    top: 16.5vh;
    right: 0;
    z-index: 2;
}

.playlist {
    width: 80%;
    height: 3.5rem;
    margin: 15px 0px 10px 20%;
    padding: 5px;
    background: #ffbea4;
    border-bottom: 0.5px solid black;
    box-shadow: 0px 10px 20px -2px black;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.playlist:hover {
    background-image: linear-gradient(180deg, #7B0D1E, #9F2042);
}

.playlist:active {
    background-image: linear-gradient(180deg, #4f0812, #801934);
}

.form-playlist-name {
    min-height: 2rem;
    width: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 20vh;
    right: 0;
    z-index: 2;
}

.input-playlist-name,
.submit-playlist-name {
    width: 95%;
    height: 2rem;
    margin: 25px;
    padding: 5px;
    border-radius: 5px;
}