.sideBar {
    background-image: linear-gradient(180deg, #7B0D1E, #9F2042);
    width: 17vw;
    height: 100vh;
    margin-left: 78vw;
    border-left: 0.5px solid black;
    box-shadow: 180px 0px 0px black;
    position: fixed;
    right: 0px;
    z-index: 0;
}